<div class="mt-4">

    <form method="POST">

        <div class="form-group">
            <label for="exampleInputEmail1">Search here...</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="...">
        </div>

        <button type="submit" class="btn btn-primary">Search</button>

    </form>

</div>